<div *transloco="let t" class="column gap">
	<app-header title=""/>

	<div class="column gap center main">
		<h1>{{ t('title.welcome') }}</h1>

		<p-button (onClick)="dialogVisible.set(true)" text>
			<div class="profile">
				<app-profile [showName]="true"/>
			</div>
		</p-button>

		<div class="column input">
			<form class="row center gap-small input" (ngSubmit)="joinRoom($event, roomCode.value)">
				<p-float-label class="input" variant="in">
					<input #roomCode pInputText id="roomCode" (input)="updateRoomCode(roomCode)" [disabled]="loading()" autocomplete="off" spellcheck="false" [maxLength]="roomCodeLength" fluid/>
					<label for="roomCode">{{ t('input.roomCode') }}</label>
				</p-float-label>
				<p-button icon="pi pi-arrow-right" type="submit" rounded text [disabled]="loading() || !roomCode.value || roomCode.value.length < roomCodeLength" [pTooltip]="t('input.joinRoom')" tooltipPosition="bottom"/>
			</form>
			<p-divider/>
			<p-button class="input" icon="pi pi-plus" rounded text [label]="t('input.createRoom')" (onClick)="createRoom()" [disabled]="loading()" fluid/>
		</div>
	</div>
</div>

<app-edit-profile [(dialogVisible)]="dialogVisible"/>
